body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:active,
.nav-link.active {
  text-decoration: underline;
}